<h1> <%= @store.name %> </h1>
<hr />
<p> View Your Things do?</p>
  <%= link_to "View Your Choices", store_thing_path(@store) %>
  <br />
  <%= link_to "Edit", edit_store_path(@store) %>
  <br />
  <%= link_to "Delete", store_path(@store), method: :delete %>
  <br />
  <br />
  <br />
  <button><%= link_to "View Stores", stores_path %></button>
  


